body{
	margin: 0;
	padding: 0;
}
#menu {
	display: flex;
	left:150px ;
	position: relative;
	height: 60px;
}
#menu a {
	padding: 15px;
	text-decoration: none;
	color: white;
	background-color: #242424;
	font: 20px sans-serif;
}
aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
#menu a:hover, #menu a.active {
	color: white;
	background-color: #585858;
	
}

header {
	display: block;
}
header, footer {
	background-color: #242424;
	width: 100%;
	height: 60px;
}
main {
    min-height: 600px;
    padding: 20px 0;
    text-align: justify;
    width: 495px;
    box-sizing: border-box;
}
.wrapper{
	display: flex;
	position: relative;
	left: 150px;
}
p{
	max-width: 500px;
	max-height: 500px;
	text-align: justify;
}
main img {
	width: 495px;
	height: 395px;
}
aside img {
    height: 168px;
    width: 270px;
    display: inline-block;
    margin: 10px 0;
}
footer {
    display: flex;
    background-color: #242424;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    min-height: 300px;
	padding: 30px;
	
}
.a2 {
	width: 250px;
	height: 250px;
    background-color: white;
    color: #000000;
    display: flex;
    flex-direction: column;
	padding: 20px;
}
.a1 {
	box-sizing: border-box;
    min-height: 200px;
	text-align: justify;
	padding: 25px;
	font-family: sans-serif;
}
.copyright {
	min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #242424;
}