body{
	margin: 0;
	padding: 0;
    height: 100%;
    background: linear-gradient(90deg,#F9D976,#F39F86);

}
p {
    position: absolute;
    color: #ffffff;
    font-size: large;
    left: 1000px;
}
#menu {
	display: flex;
	position: relative;
	height: 50px;

}
#menu a {
	padding: 13px;
	text-decoration: none;
	color: white;
	background-color: #fd5860;
	font: 20px sans-serif;
}

header{
    display: block;
	background-color: #fd5860;
	width: 100%;
	height: 50px;
}

#text{
    display: inline-block;
    margin: 300px 100px;
    font-size: x-large;
}
.bigtxt{
    font-size: xx-large;
}
a.nubex {
    display: inline-block;
	color: #000000;
	user-select: none; 
	text-decoration: none;	
	outline: none; 
    margin-top: 10px ;
    padding: 5px 5px; 
    border-style: groove;
    border-width: 0.5px;
    border-radius: 3px;
}	

table{
    border-collapse: collapse;
    background-color: #ffffff;  
    width: 500px ;
    height: 150px;


}
.zag{
    background-color:#ffffff ;

}
.txt_tb{
    color: #ffffff;
    text-decoration: none;
}
.txt_tb1{
    
    justify-content: left;
    margin: 7px 1px;  
    font-family: sans-serif;
}
TH, TD {
    border: 1px solid black;
    padding: 4px;

}
#tb1{
    margin-left:50px;
    margin-top: 70px;
    background-color: aqua;
    
}
#tb2{
    margin-left:50px;
    margin-top: 110px;
    background-color: aqua;
}
.maps{
    margin-left:800px;
    margin-top: -450px;
    width: 600px;
    height: 600px;
}
@media only screen and (max-width: 1430px) {
    #menu {
        display: flex;
        position: relative;
        height: 50px;
    
    }
    #menu a {
        padding: 13px;
        text-decoration: none;
        color: white;
        background-color: #fd5860;
        font: 20px sans-serif;
    }
    
    header{
        display: block;
        background-color: #fd5860;
        width: 100%;
        height: 50px;
    }
    .maps{
        margin-left:700px;
        margin-top: -450px;
        width: 450px;
        height: 500px;
    }

}
@media only screen and (max-width: 1200px) {
    #menu {
        display: flex;
        position: relative;
        height: 50px;
    
    }
    #menu a {
        padding: 13px;
        text-decoration: none;
        color: white;
        background-color: #fd5860;
        font: 20px sans-serif;
    }
    
    header{
        display: block;
        background-color: #fd5860;
        width: 100%;
        height: 50px;
    }
    .maps{
        margin-left:700px;
        margin-top: -400px;
        width: 300px;
        height: 400px;
    }

}
@media only screen and (max-width: 1000px) {
    #menu {
        display: flex;
        position: relative;
        height: 50px;
    
    }
    #menu a {
        padding: 13px;
        text-decoration: none;
        color: white;
        background-color: #fd5860;
        font: 20px sans-serif;
    }
    
    header{
        display: block;
        background-color: #fd5860;
        width: 100%;
        height: 50px;
    }
    .maps{
        margin-left:50px;
        margin-top: 150px;
        width: 500px;
        height: 200px;
    }

}
@media only screen and (max-width: 560px) {
    #menu {
        display: flex;
        position: relative;
        height: 50px;
    
    }
    #menu a {
        padding: 13px;
        text-decoration: none;
        color: white;
        background-color: #fd5860;
        font: 20px sans-serif;
    }
    
    header{
        display: block;
        background-color: #fd5860;
        width: 100%;
        height: 50px;
    }
    .maps{
        margin-left:30px;
        margin-top: 150px;
        width: 400px;
        height: 200px;
    }
    #tb1{
        margin-left:30px;
        margin-top: 70px;
        background-color: aqua;
        
    }
    #tb2{
        margin-left:30px;
        margin-top: 110px;
        background-color: aqua;
    }
    table{
        border-collapse: collapse;
        background-color: #ffffff;  
        width: 400px ;
        height: 150px;
}
}